page-note {
    .content.note-1{
        background: color($colors, note-1);
    }
    .content.note-2{
        background: color($colors, note-2);
    }
    .content.note-3{
        background: color($colors, note-3);
    }
    .content.note-4{
        background: color($colors, note-4);
    }
    .content.note-5{
        background: color($colors, note-5);
    }
    .content.note-6{
        background: color($colors, note-6);
    }

    
}
